<div>
    <h2 id="page-heading">
        <span jhiTranslate="dlssyncApp.dlsReqExams.home.title">Dls Req Exams</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dls-req-exams" [routerLink]="['/dls-req-exams/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dlssyncApp.dlsReqExams.home.createLabel">
            Create a new Dls Req Exams
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="dlsReqExams?.length === 0">
        <span jhiTranslate="dlssyncApp.dlsReqExams.home.notFound">No dlsReqExams found</span>
    </div>
    <div class="table-responsive" *ngIf="dlsReqExams?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="examCode"><span jhiTranslate="dlssyncApp.dlsReqExams.examCode">Exam Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="examResult"><span jhiTranslate="dlssyncApp.dlsReqExams.examResult">Exam Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="examDate"><span jhiTranslate="dlssyncApp.dlsReqExams.examDate">Exam Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="examGrade"><span jhiTranslate="dlssyncApp.dlsReqExams.examGrade">Exam Grade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isEligibile"><span jhiTranslate="dlssyncApp.dlsReqExams.isEligibile">Is Eligibile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="exported"><span jhiTranslate="dlssyncApp.dlsReqExams.exported">Exported</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dlsRequests.id"><span jhiTranslate="dlssyncApp.dlsReqExams.dlsRequests">Dls Requests</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dlsReqExams of dlsReqExams ;trackBy: trackId">
                <td><a [routerLink]="['/dls-req-exams', dlsReqExams.id, 'view' ]">{{dlsReqExams.id}}</a></td>
                <td>{{dlsReqExams.examCode}}</td>
                <td>{{dlsReqExams.examResult}}</td>
                <td>{{dlsReqExams.examDate | date:'medium'}}</td>
                <td>{{dlsReqExams.examGrade}}</td>
                <td>{{dlsReqExams.isEligibile}}</td>
                <td>{{dlsReqExams.exported}}</td>
                <td>
                    <div *ngIf="dlsReqExams.dlsRequests">
                        <a [routerLink]="['/dls-requests', dlsReqExams.dlsRequests?.id, 'view' ]" >{{dlsReqExams.dlsRequests?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/dls-req-exams', dlsReqExams.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dls-req-exams', dlsReqExams.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(dlsReqExams)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="dlsReqExams?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
