<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dlsVehicleTypes">
            <h2><span jhiTranslate="dlssyncApp.dlsVehicleTypes.detail.title">Dls Vehicle Types</span> {{dlsVehicleTypes.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dlssyncApp.dlsVehicleTypes.code">Code</span></dt>
                <dd>
                    <span>{{dlsVehicleTypes.code}}</span>
                </dd>
                <dt><span jhiTranslate="dlssyncApp.dlsVehicleTypes.nameAr">Name Ar</span></dt>
                <dd>
                    <span>{{dlsVehicleTypes.nameAr}}</span>
                </dd>
                <dt><span jhiTranslate="dlssyncApp.dlsVehicleTypes.nameEn">Name En</span></dt>
                <dd>
                    <span>{{dlsVehicleTypes.nameEn}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dls-vehicle-types', dlsVehicleTypes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
