<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dls-vhl-trs-exams-heading" jhiTranslate="dlssyncApp.dlsVhlTrsExams.home.createOrEditLabel">Create or edit a Dls Vhl Trs Exams</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsVhlTrsExams.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code').invalid && (editForm.get('code').dirty || editForm.get('code').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsVhlTrsExams.nameAr" for="field_nameAr">Name Ar</label>
                    <input type="text" class="form-control" name="nameAr" id="field_nameAr"
                           formControlName="nameAr"/>
                    <div *ngIf="editForm.get('nameAr').invalid && (editForm.get('nameAr').dirty || editForm.get('nameAr').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nameAr').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsVhlTrsExams.nameEn" for="field_nameEn">Name En</label>
                    <input type="text" class="form-control" name="nameEn" id="field_nameEn"
                           formControlName="nameEn"/>
                    <div *ngIf="editForm.get('nameEn').invalid && (editForm.get('nameEn').dirty || editForm.get('nameEn').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nameEn').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsVhlTrsExams.exams" for="field_exams">Exams</label>
                    <select class="form-control" id="field_exams" name="exams" formControlName="exams">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dlsExamsOption.id === editForm.get('exams').value?.id ? editForm.get('exams').value : dlsExamsOption" *ngFor="let dlsExamsOption of dlsexams; trackBy: trackDlsExamsById">{{dlsExamsOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsVhlTrsExams.vehicleTypes" for="field_vehicleTypes">Vehicle Types</label>
                    <select class="form-control" id="field_vehicleTypes" name="vehicleTypes" formControlName="vehicleTypes">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dlsVehicleTypesOption.id === editForm.get('vehicleTypes').value?.id ? editForm.get('vehicleTypes').value : dlsVehicleTypesOption" *ngFor="let dlsVehicleTypesOption of dlsvehicletypes; trackBy: trackDlsVehicleTypesById">{{dlsVehicleTypesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsVhlTrsExams.trsTypes" for="field_trsTypes">Trs Types</label>
                    <select class="form-control" id="field_trsTypes" name="trsTypes" formControlName="trsTypes">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dlsTrsTypesOption.id === editForm.get('trsTypes').value?.id ? editForm.get('trsTypes').value : dlsTrsTypesOption" *ngFor="let dlsTrsTypesOption of dlstrstypes; trackBy: trackDlsTrsTypesById">{{dlsTrsTypesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
