<div>
    <h2 id="page-heading">
        <span jhiTranslate="dlssyncApp.dlsVhlTrsExams.home.title">Dls Vhl Trs Exams</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dls-vhl-trs-exams" [routerLink]="['/dls-vhl-trs-exams/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dlssyncApp.dlsVhlTrsExams.home.createLabel">
            Create a new Dls Vhl Trs Exams
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="dlsVhlTrsExams?.length === 0">
        <span jhiTranslate="dlssyncApp.dlsVhlTrsExams.home.notFound">No dlsVhlTrsExams found</span>
    </div>
    <div class="table-responsive" *ngIf="dlsVhlTrsExams?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="dlssyncApp.dlsVhlTrsExams.code">Code</span></th>
            <th scope="col" ><span jhiTranslate="dlssyncApp.dlsVhlTrsExams.nameAr">Name Ar</span></th>
            <th scope="col" ><span jhiTranslate="dlssyncApp.dlsVhlTrsExams.nameEn">Name En</span></th>
            <th scope="col" ><span jhiTranslate="dlssyncApp.dlsVhlTrsExams.exams">Exams</span></th>
            <th scope="col" ><span jhiTranslate="dlssyncApp.dlsVhlTrsExams.vehicleTypes">Vehicle Types</span></th>
            <th scope="col" ><span jhiTranslate="dlssyncApp.dlsVhlTrsExams.trsTypes">Trs Types</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dlsVhlTrsExams of dlsVhlTrsExams ;trackBy: trackId">
                <td><a [routerLink]="['/dls-vhl-trs-exams', dlsVhlTrsExams.id, 'view' ]">{{dlsVhlTrsExams.id}}</a></td>
                <td>{{dlsVhlTrsExams.code}}</td>
                <td>{{dlsVhlTrsExams.nameAr}}</td>
                <td>{{dlsVhlTrsExams.nameEn}}</td>
                <td>
                    <div *ngIf="dlsVhlTrsExams.exams">
                        <a [routerLink]="['/dls-exams', dlsVhlTrsExams.exams?.id, 'view' ]" >{{dlsVhlTrsExams.exams?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dlsVhlTrsExams.vehicleTypes">
                        <a [routerLink]="['/dls-vehicle-types', dlsVhlTrsExams.vehicleTypes?.id, 'view' ]" >{{dlsVhlTrsExams.vehicleTypes?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dlsVhlTrsExams.trsTypes">
                        <a [routerLink]="['/dls-trs-types', dlsVhlTrsExams.trsTypes?.id, 'view' ]" >{{dlsVhlTrsExams.trsTypes?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/dls-vhl-trs-exams', dlsVhlTrsExams.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dls-vhl-trs-exams', dlsVhlTrsExams.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(dlsVhlTrsExams)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
