<div>
    <h2 id="page-heading">
        <span jhiTranslate="dlssyncApp.template.home.title">Templates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-template" [routerLink]="['/template/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dlssyncApp.template.home.createLabel">
            Create a new Template
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="templates?.length === 0">
        <span jhiTranslate="dlssyncApp.template.home.notFound">No templates found</span>
    </div>
    <div class="table-responsive" *ngIf="templates?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nameAr"><span jhiTranslate="dlssyncApp.template.nameAr">Name Ar</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nameEn"><span jhiTranslate="dlssyncApp.template.nameEn">Name En</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="code"><span jhiTranslate="dlssyncApp.template.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="timeInSec"><span jhiTranslate="dlssyncApp.template.timeInSec">Time In Sec</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="passScore"><span jhiTranslate="dlssyncApp.template.passScore">Pass Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="dlssyncApp.template.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let template of templates ;trackBy: trackId">
                <td><a [routerLink]="['/template', template.id, 'view' ]">{{template.id}}</a></td>
                <td>{{template.nameAr}}</td>
                <td>{{template.nameEn}}</td>
                <td>{{template.code}}</td>
                <td>{{template.timeInSec}}</td>
                <td>{{template.passScore}}</td>
                <td>{{template.status}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/template', template.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/template', template.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(template)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="templates?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
