<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-exam-heading" jhiTranslate="dlssyncApp.exam.home.createOrEditLabel">Create or edit a Exam</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.exam.validfrom" for="field_validfrom">Validfrom</label>
                    <div class="d-flex">
                        <input id="field_validfrom" type="datetime-local" class="form-control" name="validfrom" formControlName="validfrom" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('validfrom').invalid && (editForm.get('validfrom').dirty || editForm.get('validfrom').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validfrom').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('validfrom').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.exam.validto" for="field_validto">Validto</label>
                    <div class="d-flex">
                        <input id="field_validto" type="datetime-local" class="form-control" name="validto" formControlName="validto" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('validto').invalid && (editForm.get('validto').dirty || editForm.get('validto').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validto').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('validto').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.exam.timeInSec" for="field_timeInSec">Time In Sec</label>
                    <input type="number" class="form-control" name="timeInSec" id="field_timeInSec"
                           formControlName="timeInSec"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.exam.score" for="field_score">Score</label>
                    <input type="number" class="form-control" name="score" id="field_score"
                           formControlName="score"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.exam.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                    <div *ngIf="editForm.get('status').invalid && (editForm.get('status').dirty || editForm.get('status').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('status')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.exam.passScore" for="field_passScore">Pass Score</label>
                    <input type="number" class="form-control" name="passScore" id="field_passScore"
                           formControlName="passScore"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.exam.startAt" for="field_startAt">Start At</label>
                    <div class="d-flex">
                        <input id="field_startAt" type="datetime-local" class="form-control" name="startAt" formControlName="startAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.exam.submitAt" for="field_submitAt">Submit At</label>
                    <div class="d-flex">
                        <input id="field_submitAt" type="datetime-local" class="form-control" name="submitAt" formControlName="submitAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.exam.template" for="field_template">Template</label>
                    <select class="form-control" id="field_template" name="template" formControlName="template">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="templateOption.id === editForm.get('template').value?.id ? editForm.get('template').value : templateOption" *ngFor="let templateOption of templates; trackBy: trackTemplateById">{{templateOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
