<div>
    <h2 id="page-heading">
        <span jhiTranslate="dlssyncApp.exam.home.title">Exams</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-exam" [routerLink]="['/exam/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dlssyncApp.exam.home.createLabel">
            Create a new Exam
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="exams?.length === 0">
        <span jhiTranslate="dlssyncApp.exam.home.notFound">No exams found</span>
    </div>
    <div class="table-responsive" *ngIf="exams?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="validfrom"><span jhiTranslate="dlssyncApp.exam.validfrom">Validfrom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="validto"><span jhiTranslate="dlssyncApp.exam.validto">Validto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="timeInSec"><span jhiTranslate="dlssyncApp.exam.timeInSec">Time In Sec</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="score"><span jhiTranslate="dlssyncApp.exam.score">Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="dlssyncApp.exam.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="passScore"><span jhiTranslate="dlssyncApp.exam.passScore">Pass Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startAt"><span jhiTranslate="dlssyncApp.exam.startAt">Start At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="submitAt"><span jhiTranslate="dlssyncApp.exam.submitAt">Submit At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="template.id"><span jhiTranslate="dlssyncApp.exam.template">Template</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exam of exams ;trackBy: trackId">
                <td><a [routerLink]="['/exam', exam.id, 'view' ]">{{exam.id}}</a></td>
                <td>{{exam.validfrom | date:'medium'}}</td>
                <td>{{exam.validto | date:'medium'}}</td>
                <td>{{exam.timeInSec}}</td>
                <td>{{exam.score}}</td>
                <td>{{exam.status}}</td>
                <td>{{exam.passScore}}</td>
                <td>{{exam.startAt | date:'medium'}}</td>
                <td>{{exam.submitAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="exam.template">
                        <a [routerLink]="['/template', exam.template?.id, 'view' ]" >{{exam.template?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/exam', exam.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/exam', exam.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(exam)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="exams?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
