<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dlsRequests">
            <h2><span jhiTranslate="dlssyncApp.dlsRequests.detail.title">Dls Requests</span> {{dlsRequests.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dlssyncApp.dlsRequests.transactionType">Transaction Type</span></dt>
                <dd>
                    <span>{{dlsRequests.transactionType}}</span>
                </dd>
                <dt><span jhiTranslate="dlssyncApp.dlsRequests.requestNo">Request No</span></dt>
                <dd>
                    <span>{{dlsRequests.requestNo}}</span>
                </dd>
                <dt><span jhiTranslate="dlssyncApp.dlsRequests.exported">Exported</span></dt>
                <dd>
                    <span>{{dlsRequests.exported}}</span>
                </dd>
                <dt><span jhiTranslate="dlssyncApp.dlsRequests.dlsPersons">Dls Persons</span></dt>
                <dd>
                    <div *ngIf="dlsRequests.dlsPersons">
                        <a [routerLink]="['/dls-persons', dlsRequests.dlsPersons?.id, 'view']">{{dlsRequests.dlsPersons?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dls-requests', dlsRequests.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
