<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dls-requests-heading" jhiTranslate="dlssyncApp.dlsRequests.home.createOrEditLabel">Create or edit a Dls Requests</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsRequests.transactionType" for="field_transactionType">Transaction Type</label>
                    <input type="number" class="form-control" name="transactionType" id="field_transactionType"
                           formControlName="transactionType"/>
                    <div *ngIf="editForm.get('transactionType').invalid && (editForm.get('transactionType').dirty || editForm.get('transactionType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transactionType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('transactionType')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsRequests.requestNo" for="field_requestNo">Request No</label>
                    <input type="number" class="form-control" name="requestNo" id="field_requestNo"
                           formControlName="requestNo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsRequests.exported" for="field_exported">Exported</label>
                    <input type="checkbox" class="form-control" name="exported" id="field_exported"
                           formControlName="exported"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsRequests.dlsPersons" for="field_dlsPersons">Dls Persons</label>
                    <select class="form-control" id="field_dlsPersons" name="dlsPersons" formControlName="dlsPersons">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dlsPersonsOption.id === editForm.get('dlsPersons').value?.id ? editForm.get('dlsPersons').value : dlsPersonsOption" *ngFor="let dlsPersonsOption of dlspersons; trackBy: trackDlsPersonsById">{{dlsPersonsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
