<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dls-req-trainings-heading" jhiTranslate="dlssyncApp.dlsReqTrainings.home.createOrEditLabel">Create or edit a Dls Req Trainings</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsReqTrainings.trainingCode" for="field_trainingCode">Training Code</label>
                    <input type="number" class="form-control" name="trainingCode" id="field_trainingCode"
                           formControlName="trainingCode"/>
                    <div *ngIf="editForm.get('trainingCode').invalid && (editForm.get('trainingCode').dirty || editForm.get('trainingCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('trainingCode').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('trainingCode')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsReqTrainings.trainingLectures" for="field_trainingLectures">Training Lectures</label>
                    <input type="number" class="form-control" name="trainingLectures" id="field_trainingLectures"
                           formControlName="trainingLectures"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsReqTrainings.trainingfulfilled" for="field_trainingfulfilled">Trainingfulfilled</label>
                    <input type="number" class="form-control" name="trainingfulfilled" id="field_trainingfulfilled"
                           formControlName="trainingfulfilled"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsReqTrainings.exported" for="field_exported">Exported</label>
                    <input type="checkbox" class="form-control" name="exported" id="field_exported"
                           formControlName="exported"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dlssyncApp.dlsReqTrainings.dlsRequests" for="field_dlsRequests">Dls Requests</label>
                    <select class="form-control" id="field_dlsRequests" name="dlsRequests" formControlName="dlsRequests">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dlsRequestsOption.id === editForm.get('dlsRequests').value?.id ? editForm.get('dlsRequests').value : dlsRequestsOption" *ngFor="let dlsRequestsOption of dlsrequests; trackBy: trackDlsRequestsById">{{dlsRequestsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
